{% extends "layout/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
    <h1>Are you sure you want to delete the topic "
        <a href="{{ topic.get_absolute_url }}">{{ topic }}</a>"?</h1>
{% endblock page_header %}

{% block content %}
    <p>
        <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-danger">
                    Yes, I`m sure</button>
            {% endbuttons %}
        </form>

        <form action="{{ topic.get_absolute_url }}"
              method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-secondary">
                    No, take me back</button>
            {% endbuttons %}
        </form>
    </p>
{% endblock content %}