{% extends "layout/base.html" %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
    <p>
        <button type="button" class="btn btn-outline-primary">
            <a href="{% url 'forums:add_topic' %}">Add a new topic</a>
        </button>
    </p>

    {% for t in topics %}
        <br>
        <p>
            <i>Posted by: {{ t.owner }}
                {{ t.date_added|date:'d.m.Y H:i:s' }}</i>
            <h3><a href="{{ t.get_absolute_url }}">{{ t.title }}</a></h3>
            <i>{{ t.likes.count }} Like{{ t.likes.count|pluralize }}
                {{ t.comment_set.count }}
                Comment{{ t.comment_set.count|pluralize }}</i>
        </p>
    {% empty %}
        <h3>No topic have been added yet.</h3>
    {% endfor %}
{% endblock content %}