{% extends "layout/base.html" %}

{% block content %}
    <h2>{{ topic.title }}</h2>

    {% if request.user == topic.owner %}
        <p><a href="{% url 'forums:edit_topic' topic.id topic.slug%}">
                Edit topic</a></p>
    {% endif %}

    <p>Posted by: {{ topic.owner }}
        {{ topic.date_added|date:'d.m.Y H:i:s' }}</p>
    <p>{{ topic.text|linebreaks }}</p>
    <p><small><i>{{ topic.comment_set.count }}
        Comment{{ topic.comment_set.count|pluralize }}</i></small></p>

    <p>Comment as <ins>{{ user.username }}</ins>:</p>

    <form action="." method="post" id="formComment">
        {% csrf_token %}
        <input type="hidden" name="parent" id="contactparent" value="">
        <textarea cols="60" rows="8" name="text"
                  id="contactcomment" required=""></textarea>
        <button name="submit">Add comment</button>
    </form>

    {% for comment in topic.get_comment %}
        <p><i>Posted by: {{ comment.owner }}
            {{ comment.date_added|date:'d.m.Y H:i:s' }}</i></p>
        <p><b>{{ comment.text|linebreaks }}</b></p>
        <a href="#formComment" onclick="addComment('{{ comment.owner }}',
        '{{ comment.id }}')">Reply</a>
        {% for c in comment.comment_set.all %}
            <ul>
                <p><i>Posted by: {{ c.owner }}
                {{ c.date_added|date:'d.m.Y H:i:s' }}</i></p>
                <p><b>{{ c.text|linebreaks }}</b></p>
            </ul>
        {% endfor %}
    {% empty %}
        <p>No comment have been added yet.</p>
    {% endfor %}

    <script>
        function addComment(owner, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${owner}, `
        }
    </script>
{% endblock content %}