{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>{{ topic }}</h1>
{% endblock page_header %}

{% block content %}
    {% if request.user == topic.owner %}
        <p><button type="button" class="btn btn-outline-primary">
            <a href="{% url 'forums:edit_topic' topic.id topic.slug%}">
                Edit topic</a></button>
            <button type="button" class="btn btn-outline-danger">
                <a href="{% url 'forums:delete_topic' topic.id topic.slug %}">
                    Delete topic</a></button></p>
    {% endif %}

    <p><i>Posted by: {{ topic.owner }}
        {{ topic.date_added|date:'d.m.Y H:i:s' }}</i></p>
    <h5>{{ topic.text|linebreaks }}</h5>

    <form action="{% url 'forums:like_topic' topic.id topic.slug %}"
          method="post" class="form">
        {% csrf_token %}
        {% buttons %}
            <p><button name="submit"
                       class="btn {% if user in topic.likes.all %}btn-primary
                       {% else %}btn-outline-primary{% endif %}">
                Like</button> - <i>{{ topic.likes.count }}
                Like{{ topic.likes.count|pluralize }}</i></p>
        {% endbuttons %}
    </form>

    <p><i>{{ topic.comment_set.count }}
        Comment{{ topic.comment_set.count|pluralize }}</i></p>

    {% if user.is_authenticated %}
        <p><b>Comment as <ins>{{ user.username }}</ins>:</b></p>

        <form action="." method="post" class="form" id="formComment">
            {% csrf_token %}
            <input type="hidden" name="parent" id="contactparent" value="">
            <textarea cols="80" rows="6" name="text"
                      id="contactcomment" required=""
                      placeholder="What are your thoughts?"></textarea>
            {% buttons %}
                <button name="submit" class="btn btn-outline-primary">
                    Add comment</button>
            {% endbuttons %}
        </form>
    {% endif %}

    {% for comment in topic.get_comment %}
        <hr>
        <p><i>Posted by: {{ comment.owner }}
            {{ comment.date_added|date:'d.m.Y H:i:s' }}</i></p>
        <h5>{{ comment.text|linebreaks }}</h5>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-outline-primary">
                <a href="#formComment"
                   onclick="addComment('{{ comment.owner }}',
            '{{ comment.id }}')">Reply</a></button></p>
        {% endif %}
        {% for c in comment.comment_set.all %}
            <ul>
                <p><i>Posted by: {{ c.owner }}
                {{ c.date_added|date:'d.m.Y H:i:s' }}</i></p>
                <h5>{{ c.text|linebreaks }}</h5>
            </ul>
        {% endfor %}
    {% empty %}
        <hr>
        <h5>No comment have been added yet.</h5>
    {% endfor %}

    <script>
        function addComment(owner, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${owner}, `
        }
    </script>
{% endblock content %}